<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
        {{ page_title|default:"IT support" }}
        {% endblock title %}
     </title>
     <link href="{% static 'main.css' %}" rel="stylesheet" type="text/css">

</head>
<body>
 <ul>
     {% if user.is_authenticated %}
     {% if request.COOKIES.Agent %}
     <li><a href="/">Home</a></li>
  <li><a href="/contact">Contact</a></li>
     <li><a href="/create_ticket" >Create Ticket</a></li>
     <li><a href="/mytickets" >My Tickets </a></li>
     <li><a href="/orders" >All orders </a></li>
          <li><a href="/all_tickets" >All Tickets </a></li>


     <li><a href="/signout" >Sign Out</a></li>
      {% else %}

     <li><a href="/">Home</a></li>
  <li><a href="/contact">Contact</a></li>
     <li><a href="/create_ticket" >Create Ticket</a></li>
     <li><a href="/order" >Order something</a></li>
     <li><a href="/mytickets" >My Tickets </a></li>
     <li><a href="/my_orders" >My orders </a></li>

     <li><a href="/signout" >Sign Out</a></li>
     {% endif  %}

      {% else %}
  <li><a href="/">Home</a></li>
  <li><a href="/contact">Contact</a></li>
  <li><a href="/login" >Sign in</a></li>
     <li><a href="/register" >Create account</a></li>
     {% endif  %}



</ul>
 <section id="main">
       {% block content %}
       <p>Welcome to our IT support website!</p>
       {% endblock content %}

</body>
</html>