{% extends "base.html" %}
{% block content %}
{% include 'category.html' %}
<h3 id="number">INC{{ number }} </h3>

<div id = text>
    {% csrf_token %}
{% for field in text %}{{field}} <br></br> {% endfor %}
</div>
<div id = fields>
{% for field in ticket_data %}

<input type="text" id="{{ forloop.counter }}" name="Name" placeholder="" value="{{ field }}"  disabled>
<br></br>
{% endfor %}
</div>
<p id="description2"> Description </p>
<div id = description1>
    <textarea id="description" name="description" disabled> {{ description }} </textarea>
    <br></br>
    </div>
<form action="" method="POST">
        {% csrf_token %}
  <p id="comment"> {{form.add_comment}} </p>


    <div id="status">
        {{form.field}}
    </div>
    <div id="team">
        {{form.team}}
    </div>
    <div id="agent">
       Change agent:  {{form.agent}}
    </div>
    <button id="save" type="submit">Save</button>
</form>
<form method="post" enctype="multipart/form-data">
  {% csrf_token %}
   <p id="image"> {{ form2 }}</p>
    <p id="sendimage"><button type="submit">Upload</button></p>
</form>
 <p id="chat2"> chat </p>
<div id = "chat1">
    <textarea id="chat" name="description" placeholder="" disabled >
        {% for field in chat %}
        {{field}}

        {% endfor %}
    </textarea>
    <br></br>
</div>
<div id = 'img'>
    <b>Screenshots</b><br></br>
{% for img in images %}
<img src="{{ img.image.url}}" alt="connect" style="max-height:300px">
        {% endfor %}
</div>
<div id = categoryselect1 >

  Change Team:   <select id="category" size="1" onchange="makeSubmenu(this.value)">
<option value="" disabled selected>Choose Category</option>
<option>Server</option>
<option>Client</option>
        <option>Hardware</option>
<option>Network</option>
        <option>L1</option>


</select>
    <select id="categorySelect" size="1" onchange="GenerateTeam(this.value)">
<option value="" disabled selected>Choose Subcategory</option>
<option></option>
</select>
</div>

{% endblock content %}