{% extends "base.html" %}
{% block content %}

<h3>INC{{ number }} </h3>
<hr>

<div id = text>
    {% csrf_token %}
{% for field in text %}{{field}} <br></br> {% endfor %}
</div>
<div id = fields>
{% for field in ticket_data %}
<input type="text" id="Name" name="Name" placeholder="" value="{{ field }}" disabled >
<br></br>
{% endfor %}
</div>
<p id="description2"> Description </p>
<div id = description1>
    <textarea id="description" name="description" disabled> {{ description }} </textarea>
    <br></br>
    </div>
<form action="" method="POST">
        {% csrf_token %}
  <p id="comment"> {{form}} </p>
    <button id="save" type="submit">Save</button>
</form>
 <p id="chat2"> chat </p>
<div id = chat1>
    <textarea id="chat" name="description" placeholder="" disabled >
        {% for field in chat %}
        {{field}}

        {% endfor %}
    </textarea>
    <br></br>
</div>
{% endblock content %}